@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300..700&display=swap');

::selection{
  background-color: hsl(14, 86%, 42%);
  color: white;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Red Hat Text",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
      scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}


.content-grid {
--padding-inline: 1rem;
--content-max-width: 1400px;
--breakout-max-width: 1920px;

--breakout-size: calc(
  calc(var(--breakout-max-width) - var(--content-max-width)) / 2
);

display: grid;
grid-template-columns:
  [full-width-start] minmax(var(--padding-inline), 1fr)
  [breakout-start] minmax(0, var(--breakout-size))
  [content-start] min(
    100% - calc(var(--padding-inline) * 2),
    var(--content-max-width)
  )
  [content-end]
  minmax(0, var(--breakout-size)) [breakout-end]
  minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
grid-column: content;
}

.content-grid > .breakout {
grid-column: breakout;
}

.content-grid > .full-width {
grid-column: full-width;

display: grid;
grid-template-columns: inherit;
}

.items{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%,14rem),1fr));
}

.modal-bg{
  animation-name: fade-in;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
}
.modal{
  opacity: 0;
  animation-name: up-down;
  animation-delay: 0.25s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.items-card{
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes up-down{
  from{
    transform: translateY(-50%);
    opacity: 0;
  }
  to{
    transform: translateY(00%);
    opacity: 1;
  }
}

@keyframes slide-in{
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(00%);
    opacity: 1;
  }
}


/* WebKit Browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: hsl(14, 86%, 42%); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid transparent; /* Padding around scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(14, 86%, 60%); /* Color when hovering over the scrollbar thumb */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: hsl(14, 86%, 42%) transparent; /* Thumb and track color */
}

